@font-face {
    font-family: "ti_logoso_tfbregular";
    src: url("ti_logoso_tfb-webfont.woff2") format("woff2"), url("ti_logoso_tfb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.container {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
}
canvas {
    font-family: "ti_logoso_tfbregular";
    font-size: 4rem;
}
.tv {
    position: relative;
    border: 2px solid;
    width: 370px;
    height: 500px;
}
.dvd {
    font-family: "ti_logoso_tfbregular";
    font-size: 4rem;
    color: #a1ee;
    position: absolute;
}
